{% extends "base.html" %}

{% block content %}
    <div class="title">
        <h1>Поиск повреждений</h1>
    </div>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        <div id='request_form'>
            
            {% for input_field in form.data.keys() %}
                {% if input_field not in ['csrf_token', 'submit'] %}
                    <div class='input_pair'>
                        <p>
                            <div class='input_label'>
                                {{ form[input_field].label }}
                            </div><br>

                            {{ form[input_field] }}
                            
                            <br>
                            {% for error in form[input_field].errors %}
                                <span style="color: red;">*{{ error }}</span>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            
            <p>
                {{ form.submit() }} <br>
            </p>

        </div>
    
    </form>
{% endblock %}
